<footer >
    <h1 style="margin-left: 1.2rem;">© altreodo, All Right Reserved</h1>
    <div class="fot1">
        <h1 style="margin-top: 6px;">Contact Us</h1>
        <div>
            <a href="https://www.instagram.com/altreodo/"  target="_blank""><p id="insta"></p></a> 
            <a href="www.instagram.com"><p id="fb"></p></a>
            <a href="www.instagram.com"> <p id="linked"></p></a>
             <a href="www.instagram.com"><p id="yt"></p></div></a>
    </div>
</footer>