
    <link rel="stylesheet" href="/css/form.css">
    <div class="ip">
        <div class="ml">
        <h1>Hello<br>World!<br></h1>
              <p class="op">Welcome to AlteroChat lets explore <br> together move together</p>
              <br><br>&nbsp;&nbsp;Follow me on<br><div>&nbsp;&nbsp;<a style="color: wheat;" class="fb" href="https://www.instagram.com/altreodo/" target="_blank"> </a> &nbsp; &nbsp;<a target="_blank" class="ln"style="color: wheat;" href="https://www.linkedin.com/in/deepak-maurya-45836220b/"></a></div><br><br>
</div>
    <div class="io">
        <h2 style="margin: 0; ">Login</h2><br>
        <div><img class="re" src="../images/oie_HLLjptq33ki1.png" width="50%"></div>
        <p style="margin: 6px;" class="we">Dont't have account?? <br> <a href="/users/sign-up">Create your account</a> it takes less than a minute<br></p>
        <div style="margin-top: 0.8rem;">
            <form action="/users/create-session" method="POST">
            <input type="email" name="email" placeholder="Email"  required><br>
        <input type="password" name="password" placeholder="Password"  required><br>
        <div class="hollo"><input type="checkbox">Remember me  </div><div class="hyu"><a href="#">Forgot password?</a></div>
        <div ><input  type="submit" class="glow-on-hover" id="l" value="Login"></div></div></form>
    </div>
    </div>